body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f7fa;
}
/* main container */
.main_container {
  background-color: #fff;
  display: flex;
  flex-direction: row-reverse;
  margin: 40px auto;
  width: 1200px;
  padding-left: 40px;
  padding-top: 40px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/* main content section */
.main_content_section {
  width: calc(100% - 410px);
  padding: 100px 90px 100px 90px;
}

/* about me container */
.about_me_container {
  margin: 0 0 40px 0;
}

.about_me_profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 20px 0;
}
.about_me_name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin: 0 0 25px 0;
}

.about_me_description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 400px;
}
/* title */
.main_content_title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: black;
  margin: 0 0 10px 0;
}
/* my projects */
.my_projects {
  margin-bottom: 40px;
}

.my_projects_list {
  padding-left: 17px;
}
.my_projects_item {
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.my_projects_text {
  color: #595959;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 0 5px;
}
.my_projects_link {
  color: #595959;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.my_projects_bracket {
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

/* my work experience */
.my_work_experience {
  margin: 0 0 45px 0;
}

.my_work_experience_proffesion {
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.my_work_experience_company {
  color: #fb6d3a;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

/* working period */
.work_period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}

.my_work_experience_company_1_section {
  margin: 0 0 15px 0;
}

.my_work_experience_company_2_section {
  margin: 0 0 20px 0;
}
.my_work_experience_company_3_section {
  margin: 0 0 0 0;
}

.date_counry_divider {
  color: #000000;
}

.my_work_experience_duties {
  padding: 0 0 0 17px;
  width: 509px;
}

.my_work_experience_duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
/* education */
.my_education_place {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin: 0 0 10px 0;
}
.my_education_profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 10px 0;
}
/* sidebar section */
.sidebar {
  background-color: #1e2939;
  width: 370px;
  padding-top: 20px;
}
/* my photo */
.my_photo {
  display: block;
  margin: 0 auto;
}
/* contacts section */
.contacts_section {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 40px;
}
.contacts_section_header {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.contacts_section_type {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-right: 7px;
  font-style: normal;
  font-weight: normal;
}

.contacts_section_link {
  color: #565e6a;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

/* tech skills section */
.tech_skills_section {
  padding-left: 40px;
  margin-bottom: 50px;
}

.tech_skills_list {
  padding-left: 17px;
}
.tech_skills_text {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

/* soft skills section */
.soft_skills_section {
  padding-left: 40px;
}
.soft_skills_header {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
  color: #fff;
}

.soft_skills_list {
  padding-left: 17px;
}
.soft_skills_text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

/* fonts color */
.font_orange {
  color: #fb6d3a;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.font_white {
  color: #fff;
}
